
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index page</title>
</head>
<body>
    <div>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
            <a href="{%  url 'login' %}">Login</a>
        {% endif %}

        {% if user.is_authenticated and  user.is_staff %}
            <a href="{% url 'users:register' %}"> Зарегистрировать пользователя</a>
        {% endif %}
        <p></p>
    </div>
</body>
</html>